body {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    background-color: lightslategray;
    width:1920px;
    height:1080px;
}

#top_section {
  display: flex;
  flex-direction: row;
  flex: 1 100%;
  align-content:center;
  width:100%;
  margin:auto;

  
}


#column_right {
  flex-shrink: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(247, 251, 252);
  height: auto;
  width:50%;
}
#map {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: auto;
  width: 1000px;
  flex: 0 1 auto;
}
#textBox {
  width:90%;
  font-size: 10px;
  height:auto;
  margin:auto;
}
#btnBox {
  flex: 0 0 auto;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  margin:auto;
  padding:20px;
  border-radius: 5px;
  
  margin-right: 10px;
  margin-left:10px;
}
#box {
  margin-bottom:0;
  height:auto;
  margin:auto;
}

#title {
  text-align: center;
  
  font-size: 24px;
  font-weight: bold;
}

/* daily stops text */
#DS {
  font-size: 25px;
  margin-bottom: -10px;
  margin-top: -.5px
}

/* per census tract text */
#PCT {
  margin-bottom: -15px;
}

/* tract info */
#TI {
  font-size: 22px;
  margin-top: 9px;
}

/* time periods */
#TP {
  font-size: 28px;
  margin-bottom: 35px;
}

.info {
    padding: 6px 12px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
}

.infoBox {
    width: 300px;
    height: auto;
    padding: 12px 24px;
    text-align: center;
    opacity:80%;
}

.stopText {
    font-size: 48px;
    padding: 10px;
    text-align: left;
}

.legend {
    background-color: “black”;
    line-height: 25px;
    color: #555;
    width: 100%;
    margin-right: 50px;

}

.legend i {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.yearButton {
    background-color: #dbdbdb;
    /* Green */
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.2s;
    width:20%;
    margin:auto;
    border-radius:3px;
    margin-bottom: 2px;
    height:50px;
    
}
.yearButton:hover {
background-color: rgb(116, 116, 116); /* Green */
color: rgb(255, 255, 255);
/*box-shadow: 0px 0px 50px #CFB87C; */

}
#routeToggle {
  border: 2px solid black;
}
/* Imported styles */


#pcp {
  width: 1800px;
  height: 650px;
  margin-top: 30px;
  margin-left: 10px;
  
}


#grid {
  height: 198px;
  width: 1400px;
  margin-top: 20px;
  border: 1px solid black;
}

.row,
.header {
  clear: left;
  font-size: 12px;
  line-height: 18px;
  height: 18px;

}

.row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}

.header {
  font-weight: bold;
}

.cell {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  height: 18px;
}

.col-0 {
  width: 180px;
}
