.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}
.regions {
    fill: lightgray;
    stroke: rgb(124, 124, 124);
    stroke-width: 2px;
}

.regionGroup {
    fill:black;
}
.regionText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position:relative;
    user-select: none;
    color:white;
    width:100%;
}
.gratLines {
    fill: none;
    stroke: rgb(110, 110, 110);
    stroke-width: 1px;
}
.gratBackground {
    fill: #ebebeb;
}
.map {
    border: medium solid #999;
}